.container {
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px 1px #e1e1e1;
  border-radius: 5px;
}
.my_h3 {
  color: #00a0e8;
}
.btn {
  padding: 10px;
  color: #fff;
}
.increase {
  background: green;
}
.decrease {
  background: red;
}
