<!--
 * @Author: r1ngo
 * @Date: 2022-03-20 10:47:39
 * @LastEditors: r1ngo
 * @LastEditTime: 2022-03-21 18:01:58
 * @Description: ez pz lemon squezzy
-->
<!-- ----------------------------------------------------------------------- -->
<!--                                数据、事件、属性                                 -->
<!-- ----------------------------------------------------------------------- -->
<div class="container">
  <!-- 中括号绑定属性 -->
  <h3 [class]="'my_h3'">myc01</h3>
  <!-- 花括号进行插值 -->
  <div>my name is {{ name }}</div>
  <!-- 对象函数必须带括号，表示执行 -->
  <div>I'm {{ getGender() }}</div>
  <!-- 括号绑定事件，同理，对象函数必须带括号 -->
  <button (click)="sayHi()">sayHi</button>
  <!-- 富文本解析 -->
  <div [innerHTML]="richText"></div>
  <!-- 双向绑定语法糖，angular默认不开启此语法糖，需要手动引入依赖 -->
  <input type="text" [(ngModel)]="inputValue" />
  <span>{{ inputValue }}</span>
  <!-- 动态Style -->
  <div [ngStyle]="{ color: '#333', fontSize: size + 'px' }">动态Style</div>
  <!-- 动态Class（事件表达式中无法直接使用自增++，自减--或复合运算符+=/-=） -->
  <button
    (click)="size = size + 1"
    [class]="'btn'"
    [ngClass]="{ increase: true }"
  >
    变大
  </button>
  <button
    (click)="size = size - 1"
    [class]="'btn'"
    [ngClass]="{ decrease: true }"
  >
    变小
  </button>
</div>
<!-- ----------------------------------------------------------------------- -->
<!--                                   指令                                    -->
<!-- ----------------------------------------------------------------------- -->
<div class="container">
  <!-- 通过 *ngIf 指令实现条件判断 -->
  <div>
    <button (click)="flag = !flag">{{ flag ? "隐藏" : "展示" }}</button>
  </div>
  <div *ngIf="flag">内容</div>
  <!-- 先确定判断条件，随后指定 else 情况下需要渲染的模板 -->
  <div>
    <ng-container *ngIf="flag; else elseTemplate">内容被展示了</ng-container>
    <!-- 通过 #模板名来呼应指定的 else 模板 -->
    <ng-template #elseTemplate>内容被隐藏了</ng-template>
  </div>
  <!-- 也可通过 then + else 来实现，且 ng-container 可替换为任意标签 -->
  <div>
    <input type="text" [(ngModel)]="score" />
    <div *ngIf="score >= 60; then pass; else fail"></div>
    <ng-template #pass>及格</ng-template>
    <ng-template #fail>不及格</ng-template>
  </div>
  <!-- 通过 *ngSwitch 指令实现多重条件判断 -->
  <div>
    <span [ngSwitch]="type">
      <p *ngSwitchCase="1">白银</p>
      <p *ngSwitchCase="2">黄金</p>
      <p *ngSwitchCase="3">白金</p>
      <p *ngSwitchCase="4">钻石</p>
      <p *ngSwitchDefault>啥都不是</p>
    </span>
    <button (click)="type < 4 ? (type = type + 1) : 4">升段</button>
    <button (click)="type > 1 ? (type = type - 1) : 1">掉分</button>
  </div>
  <!-- 通过 &ngFor 指令实现循环 -->
  <ul>
    <li *ngFor="let item of list; let i = index">
      {{ i + 1 }}：{{ item.name }}
    </li>
  </ul>
  <!-- 使用自定义的指令 -->
  <input type="text" value="hello" appUpper />
</div>
<!-- ----------------------------------------------------------------------- -->
<!--                        管道（类似 vue 中的 filter 过滤器）                         -->
<!-- ----------------------------------------------------------------------- -->
<div class="container">
  <!-- 大写 -->
  <div>{{ "hello" | uppercase }}</div>
  <!-- 小写 -->
  <div>{{ "HELLO" | lowercase }}</div>
  <!-- 首字母大写 -->
  <div>{{ "hello" | titlecase }}</div>
  <!-- 百分数 -->
  <div>{{ 0.5555 | percent }}</div>
  <!-- 通过传参来限制整数位和小数位的位数 -->
  <div>{{ 0.5555 | percent: "2.2" }}</div>
  <!-- 价格 -->
  <div>{{ 99 | currency }}</div>
  <!-- 传参来改变金额符号 -->
  <div>{{ 99 | currency: "￥" }}</div>
  <!-- 日期转换 -->
  <div>{{ today | date }}</div>
  <!-- 传参改变日期格式 -->
  <div>{{ today | date: "yyyy-MM-dd HH:mm:ss" }}</div>
  <!-- 使用自定义的管道 -->
  <div *ngFor="let item of list; let i = index">
    {{ item.name }} 是 {{ item.gender | gender }}
  </div>
  <div *ngFor="let item of list; let i = index">
    {{ item.name }} is {{ item.gender | gender: "en" }}
  </div>
</div>
<!-- ----------------------------------------------------------------------- -->
<!--                                  父兹组件传参                                -->
<!-- ----------------------------------------------------------------------- -->
<div class="container">
  <!-- 父组件传递的参数可以直接使用 -->
  <div>{{ fatherName }}</div>
  <div>{{ fatherInfo.age }}</div>
  <div>{{ fatherInfo.gender | gender }}</div>
  <!-- 通过接收的击发装置，利用 emit 击发，并传递参数 -->
  <button (click)="titleEvent.emit('ringo up up')">给父组件改title</button>
</div>
<!-- ----------------------------------------------------------------------- -->
<!--                            服务（类似 vue 的 vuex）                            -->
<!-- ----------------------------------------------------------------------- -->
<div class="container">
  <span>{{ users.userLevel }}</span>
  <button (click)="users.users.push('打工人')">加人</button>
  <button (click)="users.users.pop()">减人</button>
  <div *ngFor="let item of users.users">{{ item }}</div>
</div>
